<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
    <div th:fragment="base_script">
        <!--_footer 作为公共模版分离出去-->
        <script type="text/javascript" th:src="@{/static/lib/jquery/1.9.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/lib/layer/2.4/layer.js}"></script>
        <script type="text/javascript" th:src="@{/static/h-ui/js/H-ui.js}"></script>
        <script type="text/javascript" th:src="@{/static/h-ui.admin/js/H-ui.admin.js}"></script>
        <!--/_footer /作为公共模版分离出去-->
    </div>
</body>
</html>