<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/base_head :: commonHead('排队叫号后台管理系统')"></head>
<body>
<div th:include="header :: base_header"></div>

<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>

<!--<div th:include="/common/base_menu :: base_menu"></div>
_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<!--<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
		<span class="c-999 en">&gt;</span>
		<span class="c-666">我的桌面</span>
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>-->
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display:none" class="loading"></div>
            <iframe scrolling="yes" frameborder="0" src=""></iframe>
        </div>
    </div>
</section>

<div th:include="footer :: base_script"></div>

<!--/请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/static/lib/jquery.contextmenu/jquery.contextmenu.r2.js}"></script>

<script type="text/javascript">

    //加载菜单
    loadMenu();

    //created by LaiQJ
    $('.menu_dropdown').on('click', 'dt',function () {
        $(this).next('dd').toggle();
    })

    function loadMenu() {

        //加载菜单
        $.ajax({    //使用JQuery内置的Ajax方法
            type : "post",        //post请求方式
            async : true,        //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "/sysmenu/getMenu",    //请求发送到ShowInfoIndexServlet处
            data : "",        //请求内包含一个key为name，value为A0001的参数；服务器接收到客户端请求时通过request.getParameter方法获取该参数值
            dataType : "json",        //返回数据形式为json
            success : function(result) {

                var htm = "";

                $.each(result.data, function(i, n)
                {
                    htm += "<dl id='menu-" + n.node.code + "'>";
                    htm += "<dt><i class='Hui-iconfont'>&#xe60d;</i> " + n.node.name + "<i class='Hui-iconfont menu_dropdown-arrow'>&#xe6d5;</i></dt>";
                    htm += "<dd>";
                    htm += "<ul>";
                    $.each(n.list, function(j, o)
                    {
                        var url = o.node.url;
                        if(null!=url && ""!=url) {
                            htm += "<li><a data-href='" + o.node.url + "' data-title='" + o.node.name + "' href='javascript:void(0)'>" + o.node.name + "</a></li>";
                        } else {
                            htm += "<li><a data-href='#' data-title='" + o.node.name + "' href='javascript:void(0)'>" + o.node.name + "</a></li>";
                        }
                    });
                    htm += "</ul>";
                    htm += "</dd>";
                    htm += "</dl>";
                });

                //console.log(htm);
                $("aside[class='Hui-aside']").find("div[class='menu_dropdown bk_2']").html(htm);
            },
            error : function(errorMsg) {
                //请求失败时执行该函数
                alert("请求数据失败，可能是服务器开小差了");
            }
        })
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>