<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>科室队列</title>
</head>
<body>
<h1>内科</h1>
<form action="#" th:action="@{/nurse/put}" th:method="post">
    <input type="hidden" name="queueCode" value="2"/>
    体检号：<input type="text" name="testno" value=""/>
    <input type="submit" />
</form>
<a href="/doctor/queue/list.html">刷新列表</a>
<hr/>
调整顺序：
<form action="#" th:action="@{/nurse/adjust}" th:method="post">
    <input type="hidden" name="queueCode" value="2"/>
    向上移动的体检号：<input type="text" name="testnoUp" value=""/>
    向下移动的体检号：<input type="text" name="testnoDown" value=""/>
    <input type="submit" />
</form>
<hr/>
<div id="queueList"></div>

<script type="text/javascript" th:src="@{/static/jquery/jquery-3.2.1.js}"></script>
<script th:inline="javascript">

    var msg = [[${result}]];
    if(null!=msg) {
        var result = $.parseJSON(msg);
        alert(result.data);
    }

    $.ajax({    //使用JQuery内置的Ajax方法
        type : "post",        //post请求方式
        async : true,        //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "/nurse/list",    //请求发送到ShowInfoIndexServlet处
        data : {queueCode:"2"},        //请求内包含一个key为name，value为A0001的参数；服务器接收到客户端请求时通过request.getParameter方法获取该参数值
        dataType : "json",        //返回数据形式为json
        success : function(result) {
            console.log(result.status);
            var htm = "<table border='1px'>";
            htm += "<tr><td>排序号</td><td>体检号</td><td>操作</td></tr>";
            $.each(result.data, function(i,n)
            {
                console.log("索引:" + i, "对应值为：" + n.name + n.testno + n.sex);
                htm += "<tr>";
                htm += "<td>"+ (i+1) + "</td>";
                htm += "<td>"+ n.testno + "</td>";
                htm += "<td><a href='/nurse/delete?queueCode=2&testno=" + n.testno + "'>删除</a></td>";
                htm += "</tr>";
            });
            console.log("result is :" + htm);
            htm += "</table>";
            $("#queueList").html(htm);
        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("请求数据失败，可能是服务器开小差了");
        }
    })
</script>
</body>
</html>